.PageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    flex: 1;
    height: 100%;
    transition: flex 0.5s ease-in-out;
}
