@import "colors";
@import "variables";
@import "animations";

:root {
    --primary-00: #{$primary-00};
    --primary-10: #{$primary-10};
    --primary-30: #{$primary-30};
    --primary-50: #{$primary-50};
    --primary-70: #{$primary-70};
    --primary-80: #{$primary-80};
    --primary-90: #{$primary-90};
    --primary-100: #{$primary-100};

    --secondary-10: #{$secondary-10};
    --secondary-20: #{$secondary-20};
    --secondary-30: #{$secondary-30};
    --secondary-40: #{$secondary-40};
    --secondary-50: #{$secondary-50};
    --secondary-60: #{$secondary-60};
    --secondary-70: #{$secondary-70};
    --secondary-80: #{$secondary-80};
    --secondary-90: #{$secondary-90};
    --secondary-100: #{$secondary-100};

    --text-10: #{$text-10};
    --text-20: #{$text-20};
    --text-30: #{$text-30};
    --text-40: #{$text-40};
    --text-50: #{$text-50};
    --text-60: #{$text-60};
    --text-70: #{$text-70};
    --text-80: #{$text-80};
    --text-90: #{$text-90};
    --text-100: #{$text-100};

    --error-00: #{$error-00};
    --error-10: #{$error-10};
    --error-20: #{$error-20};
    --error-30: #{$error-30};
    --error-40: #{$error-40};
    --error-50: #{$error-50};
    --error-60: #{$error-60};
    --error-70: #{$error-70};
    --error-80: #{$error-80};
    --error-90: #{$error-90};
    --error-100: #{$error-100};

    --warning-50: #{$warning-50};
    --warning-80: #{$warning-80};
    --warning-100: #{$warning-100};

    --info-50: #{$info-50};
    --info-80: #{$info-80};
    --info-100: #{$info-100};

    --success-50: #{$success-50};
    --success-80: #{$success-80};
    --success-100: #{$success-100};
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;

    > main,
    > header {
        @include show-animation(1, 1s);
    }
}

a {
    color: $info-50;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
