@import "@client/styles/variables";
@import "@client/styles/colors";

.Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-sm;
    flex: 1;
    width: 100vw;

    &Catchlines {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: $spacing-md;
        flex: 1;
        padding: 2.5 * $spacing-xl;
    }

    &Image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    &Title {
        font-size: 2 * $font-lg;
        font-weight: $font-bold;
        color: $text-100;
    }

    &Subtitle {
        font-size: $font-sm;
        font-weight: $font-light;
        color: $text-50;
        line-height: $spacing-lg;
    }

    &GetStarted {
        padding-left: 0 !important;
    }
}
