@import "@client/styles/variables";
@import "@client/styles/colors";

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-sm;
    padding: 0 $spacing-xl;
    height: $app-header-height;
    width: 100%;

    &Left,
    &Right,
    &Middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: $spacing-sm;
        flex: 1;
    }

    &Left {
        justify-content: flex-start;
    }

    &Right {
        justify-content: flex-end;
    }

    &Middle {
        justify-content: center;
    }

    &GoBack {
        width: $font-xl;
    }
}
