@import "@client/styles/variables";
@import "@client/styles/colors";

.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-sm;
    flex: 1;
    width: 100vw;

    &Header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing-md;
        padding-bottom: $spacing-lg;
    }

    &Title {
        font-size: $font-lg;
        font-weight: $font-bold;
        color: $text-100;
    }

    &Subtitle {
        font-size: $font-sm;
        font-weight: $font-light;
        color: $text-50;
    }

    &Icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $spacing-md;
        color: $text-100;
        width: 130px;
    }

    &Form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: $spacing-sm;
        min-width: Max(30vw, 500px);

        &Row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: $spacing-sm;
            width: 100%;

            > div {
                flex: 1;
            }
        }
    }

    &RuleList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        min-width: Max(30vw, 500px);
        list-style: bullet;

        &Rule {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: $spacing-sm;
            width: 100%;
            font-size: $font-sm;

            &Icon {
                width: $font-md;
            }

            &[data-checked="true"] &Icon {
                color: $success-50;
            }

            &[data-checked="false"] &Icon {
                color: $error-50;
            }
        }
    }

    &Footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing-md;
        padding-top: $spacing-lg;
        color: $text-50;
    }

    &Socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: $spacing-sm;
        flex: 1;

        &Icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: $radius-round;
            color: $text-10;
            padding: 0;
            width: $font-lg;
            height: $font-lg;

            svg {
                width: $font-md;
                height: $font-md;
            }

            &[data-social-media="facebook"] {
                background-color: $facebook-color;
            }

            &[data-social-media="twitter"] {
                background-color: $twitter-color;
            }

            &[data-social-media="google"] {
                background-color: $google-color;
            }
        }
    }
}
