@import "@client/styles/variables";
@import "@client/styles/mixins";

.IconButton {
    @include spread-color-palette;
    text-transform: none !important;

    &,
    svg {
        color: var(--current-color);
    }

    svg {
        width: $font-md;
    }
}

body[data-theme="dark"] .IconButton[data-color="github"] {
    filter: invert(1);
}
